<section class="section" id="contacts">
  <div class="container">
    <h2 hidden>Contacts</h2>
    <ul class="contact-list">
      <li class="contact-list__item">
        <p class="contact-list__name">CAFE</p>
        <p class="contact-list__location">Chicago</p>
        <a class="contact-list__location-link" href=""
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="outline"></div>
        <p class="work-days">Monday - Friday</p>
        <p class="work-time work-time-mod">06:00 AM - 10:00 PM</p>
        <p class="work-days">Saturday - Sunday</p>
        <p class="work-time">08:00 AM - 16:00 PM</p>
        <div class="outline"></div>
        <a class="contact-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contact-list__item">
        <p class="contact-list__name contact-list__name-second">FOODTRUCK</p>
        <p class="contact-list__location">Los Angeles</p>
        <a class="contact-list__location-link" href=""
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="outline"></div>
        <p class="work-days">Monday - Friday</p>
        <p class="work-time work-time-mod">06:00 AM - 10:00 PM</p>
        <p class="work-days">Saturday - Sunday</p>
        <p class="work-time">08:00 AM - 16:00 PM</p>
        <div class="outline"></div>
        <a class="contact-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contact-list__item">
        <p class="contact-list__name">CAFE</p>
        <p class="contact-list__location">New York</p>
        <a class="contact-list__location-link" href=""
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="outline"></div>
        <p class="work-days">Monday - Friday</p>
        <p class="work-time work-time-mod">06:00 AM - 10:00 PM</p>
        <p class="work-days">Saturday - Sunday</p>
        <p class="work-time">08:00 AM - 16:00 PM</p>
        <div class="outline"></div>
        <a class="contact-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts-buttons">
      <button type="button" class="button-location">Our Locations</button>
      <button type="button" class="button-franchise">Franchise</button>
    </div>
  </div>
</section>
