.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  &__item {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 32px;
    border-radius: 24px;
    width: 100%;

    background-color: rgba(252, 252, 252, 1);
    border-radius: 24px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.contact-list__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;

  display: inline-block;
  width: 80px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;

  color: var(--main-text-color);
  background-color: rgba(248, 210, 78, 1);
}

.contact-list__name-second {
  width: 130px;
}

.contact-list__location {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;

  margin-bottom: 8px;
  color: rgba(19, 19, 19, 1);
}

.contact-list__location-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  text-decoration: none;
  width: 212px;
  display: inline-block;

  color: rgba(214, 147, 109, 1);
}
.outline {
  border: 1px solid rgba(225, 225, 225, 1);
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.work-days {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: rgba(19, 19, 19, 1);
}

.work-time {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: rgba(171, 171, 171, 1);
}

.work-time-mod {
  margin-bottom: 9px;
}

.contact-tel {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: rgba(19, 19, 19, 1);
  text-decoration: none;

  display: block;
}

.contact-mail {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: rgba(19, 19, 19, 1);
  text-decoration: none;
  display: block;
}
.button-location {
  @extend %primary-button;
  width: 196px;
  margin-left: auto;
  margin: auto;
  margin-bottom: 16px;
  &::before {
    @extend %btn-icon-white;
  }
  &::after {
    @extend %btn-icon-black;
  }
  @media screen and(min-width: 768px) {
    margin: 0;
  }
}

.button-franchise {
  @extend %secondary-button;
  width: 196px;
  margin-left: auto;
  margin: auto;
  &::before {
    @extend %btn-icon-white;
  }
  &::after {
    @extend %btn-icon-black;
  }
  @media screen and (min-width: 768px) {
    margin: 0%;
  }
}

.contacts-buttons {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 16px;
  }
}
